{{> head}}


    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Kanna Kamui</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid nostrum quisquam ex porro unde exercitationem, numquam deleniti eum excepturi alias. Incidunt voluptas aut doloribus labore, hic porro fugiat molestiae a.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/descarga.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}